.bexam {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(150deg, rgb(78, 78, 252), cyan);
    height: 100vh;
}

.regbox1 {

    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: white;
    border-radius: 10px;
    box-sizing: border-box;

}

.regbox1 h1 {
    text-align: center;
    padding: 35px 0 35px 0;
    border-bottom: 1px solid cyan;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.regbox1 form {
    padding: 0 35px;
    box-sizing: border-box;
}

form .userexam {
    position: relative;
    border-bottom: 2px solid #adadad;
    margin: 30px 0;
}

.userexam input {
    width: 100%;
    padding: 0 5px;
    height: 40px;
    font-size: 16px;
    border: none;
    background: none;
    outline: none;
}

.userexam label {
    position: absolute;
    top: 50%;
    left: 5px;
    color: #adadad;
    transform: translateY(-50%);
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}

.userexam input:focus~label,
.userexam input:valid~label {
    top: -5px;
    left: 0;
    color: cyan;
    font-size: 12px;
}

.userexam input:focus~span::before,
.userexam input:focus~span::before {
    width: 100%;
}

.rememberexam {
    margin: -5 0 20px 5px;
    color: blue;
    cursor: pointer;
}

.rememberexam:hover {
    text-decoration: underline;
    color: cyan;
}


.submitexam {
    width: 100%;
    height: 50px;
    border: 1px solid;
    background: cyan;
    border-radius: 25px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin: 10px 0;
    outline: none;
}

.submitexam:hover {
    border-color: rgb(30, 128, 255);
    transition: .5s;
}

.singinexam {
    margin: 30px 0;
    text-align: center;
    font-size: 13px;
    color: black;
}

.singinexam a {
    color: blue;
    text-decoration: none;
}

.singinexam:hover {
    text-decoration: underline;
    color: cyan;
}

@media screen and (max-width: 480px) {
    .regbox1 {
        width: auto;
        height: auto;
    }

}

/* Inicio de sesion para examenes*/

/* PAGINA HISTORIAL EXAMENES*/
.containerhexam {
    background: linear-gradient(150deg, rgb(162, 185, 255), cyan);
}

.phexam {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;

}

/* PAGINA DE CALENDARIO*/

/*instrucciones generales*/
* {
    margin: auto;
}

/*cabecera de la página*/
h1 {
    text-align: center;;
}


/*div principal del calendario*/

#calendario {
    border: 1px solid black;
    border-radius: 5px;
    max-width: 536px;
    width: auto;
    height: auto;
    background-color: #fffafa;
    text-align: center;
    padding: 20px;

}

/*tabla del calendario*/

.navbar {
    float: left;
    width: auto;
    box-sizing: border-box;
    padding: 15px;  
}


#pcitas{
    box-sizing: border-box;
    padding: 10px;
    border: none;
    background: none;
    color: blue;
}


#diasc {
    border: 1px solid black;
    border-collapse: separate;
    border-spacing: 4px;
    border-radius: 5px;
}

#diasc th,
#diasc td {
    font: normal 14pt arial;
    width: 70px;
    height: 30px;
    border-radius: 3px;
}

.diass:hover {
    background-color: #9bf5ff;
    color: #990099;
    cursor: pointer;
}

#diasc th {
    color: #990099;
    background-color: #5ecdec
}

#diasc td {
    color: #492736;
    background-color: #9bf5ff
}

/*línea de la fecha actual*/
#fechaactual {
    font: bold 12pt arial;
    padding: 0.4em
}

#fechaactual i {
    cursor: pointer;
}

#fechaactual i:hover {
    color: blue;
    text-decoration: underline;
}

/*formulario de busqueda de fechas*/
#buscafecha {
    background-color: #663366;
    color: #9bf5ff;
    padding: 5px;
    border-radius: 20px;
}

#buscafecha select,
#buscafecha input {
    background-color: #9bf5ff;
    color: #990099;
    font: bold 10pt arial;
    border-radius: 50px;
}

#buscafecha [type=text] {
    text-align: center;
}

#buscafecha [type=button] {
    cursor: pointer;
}

#buscafecha [id=infocitas]
{
    color: black;

}

#buscafecha [class=btn]
{
    color: black;
    background-color: #5ecdec;
    text-decoration: none;
}

/*cabecera del calendario*/
#anterior {
    float: left;
    width: 100px;
    font: bold 12pt arial;
    padding: 0.5em 0.1em;
    cursor: pointer;
}

#posterior {
    float: right;
    width: 100px;
    font: bold 12pt arial;
    padding: 0.5em 0.1em;
    cursor: pointer;
}

#anterior:hover {
    color: blue;
    text-decoration: underline;
}

#posterior:hover {
    color: blue;
    text-decoration: underline;
}

#titulos {
    font: normal 20pt "arial black";
    padding: 0.2em;
}

.infoutil
{
    max-width: 18rem;
}
/*DIRECTIRIO*/


.slider-frame
{
    width: 400px;
    height: auto;
    margin: 50px auto 0 ;
    overflow: hidden;

    animation: slide 10s infinite;
}

.slider-frame ul 
{
    display: flex;
    padding: 0;
    width: 400%;

}

.slider-frame li
{
    list-style: none;
    width: 100%;

}

.slider-frame img
{
    width: 100%;
}


@keyframes slide 
{
    0% {margin-left: 0;}
    20% {margin-left: 0;}
    
    25% {margin-left: -100%;}
    45% {margin-left: -100%;}

    50% {margin-left: -200%;}
    70% {margin-left: -200%;}

    75% {margin-left: -300%;}
    95% {margin-left: -300%;}
}
