/* ESTILOS DE LAS TABLAS DE GRAFICOS*/
.hgrafb
{
margin-bottom: 2rem;
text-align: center;
box-sizing: border-box;
padding: 20px;

}

.grafs
{
max-width: 100%;
box-sizing: border-box;
padding: 20px;
}

.navbar
{
    text-align: left;
    justify-content: left;
    box-sizing: border-box;
    padding: 10px;
    margin: 10px;
} 