.conexion {
    font-family: 'Lily Script One', cursive;
}

.card {
    margin-bottom: 20px;
}
.cartas{
    margin-top: 100px;
    margin-left: 40px;
}
.card-title {
    text-align: left;
}

.card-subtitle {
    text-align: left;
    font-size: small;
    color: gray;
}

.card-text {
    padding-top: 10px;
    text-align: left;
}

.card-comment {
    text-align: left;
    font-size: smaller;
}

.card-comment-name {
    text-align: left;
    font-size: smaller;
    font-weight: 600;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 58px 0 0;
    /* Height of navbar */
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
    width: 240px;
    z-index: 600;
}
main {
    margin-top: 58px;
}

@media (min-width: 991.98px) {
    main {
        padding-left: 400px;
        margin-top: 58px;
    }
}

@media screen and (max-width: 992px) {
    .sidebar {
        width: 100%;
    }

    .celular {
        display: none;
    }
    .row{
        height: 500px;
    }
}

.sidebar .active {
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: 0.5rem;
    overflow-x: hidden;
    overflow-y: auto;
}


@media (min-width: 991.98px) {
    main {
        padding-left: 400;
    }
}

@media (max-width: 760px) {
    main {
        padding-left: 200px;
    }

    .celular {
        display: none;
    }
}

@media (max-width: 480px) {
    main {
        padding-left: 0px;
    }
    .celular {
        display: none;
    }
}

/* Sidebar */
.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    padding: 58px 0 0;
    /* Height of navbar */
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
    width: 240px;
    z-index: 600;
}

@media (max-width: 991.98px) {
    .sidebar {
        width: 100%;
    }
}

.sidebar .active {
    border-radius: 5px;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.sidebar-sticky {
    position: relative;
    top: 0;
    height: calc(100vh - 48px);
    padding-top: 0.5rem;
    overflow-x: hidden;
    overflow-y: auto;
    /* Scrollable contents if viewport is shorter than content. */
}

.grow:hover
{
-webkit-transform: scale(1.3);
-ms-transform: scale(1.3);
transform: scale(1.3);
}

